@font-face {
  font-family: 'open_sanslight';
  src: url('../fonts/opensans-light-webfont.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;

}

@font-face {
  font-family: 'gilroyextrabold';
  src: url('../fonts/gilroyextrabold-webfont.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;

}

/* Общие стили */
body {
  margin: 0;
  padding: 0;

  font-family: "open_sanslight", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  color: #464646;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

/* Отключение маркеров списков */
.header-site-navigation,
.header-user-navigation,
.header-site-navigation .dropdown-menu,
.footer-site-navigation,
.footer-user-navigation,
.footer-social {
  list-style: none;
}

/* Кнопки */
.button {
  font-family: "gilroyextrabold", Arial, sans-serif;
  font-size: 16px;
  line-height: 23.5px;
  letter-spacing: 3.7px;
  color: #000000;
  text-transform: uppercase;

  background-color: #f0c52e;

  display: flex;
  align-items: center;
  height: 8px;
  width: fit-content;
  padding: 0 14px;
  border: none;
}

.button:hover {
  padding: 10px;
}

.button:active {
  color: rgba(0, 0, 0, 0.3);
}

/* Навигация в шапке и футере, ссылки на  */
.header-site-navigation,
.footer-site-navigation {
  font-family: "gilroyextrabold", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
}

/* .search-field:focus~.search-underline,
.search-field:focus~.search-btn{
  border-bottom: 2px solid #000000;
  width: 441px;

  display: flex;
  justify-content: flex-end;
}

.search-underline{
  display: none;
} */

/* ==============Шапка============== */
.main-header {
  background-color: #f7e296;
}

/* Логотип */
.index-header-logo,
.inner-header-logo {
  font-family: "gilroyextrabold", Arial, sans-serif;
  font-size: 48px;
  line-height: 48px;
  text-transform: uppercase;
  color: #000000;
}

/* Поиск */
.search-underline {
  display: flex;  
  border-bottom: 2px solid #000000;
  width: 441px;
}

.search-field {
  border: none;
  background-color: transparent;
  color: rgba(134, 131, 131, 0.3);

  margin-right:auto;
}

.search-btn {
  margin-left: auto;
  border: none;
  width: 85px;
  height: 49px;
  background-color: inherit;
  border-top: 2px solid #000000;
  border-left: 2px solid #000000;
  border-right: 2px solid #000000;
}

.search-btn:hover {
  color: #ffffff;
  background: #000000;
}

.search-btn:active {
  color: rgba(255, 255, 255, 0.3);
}

/* Меню */
.header-site-navigation a,
.header-user-navigation a {
  color: #000000;
}

.search-field:focus {
  color: #000000;
}

.search-field:hover::placeholder,
.header-site-navigation a:hover,
.header-user-navigation a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.header-site-navigation a:active,
.header-user-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

/* .main-header a[href]:hover,
.search-field:hover::placeholder {
  color: rgba(0, 0, 0, 0.6);
} */

/* Выпадающее меню */
.header-site-navigation .dropdown-menu {
  font-family: "open_sanslight", Arial, sans-serif;
  font-size: 15px;
  line-height: 36px;
  text-transform: none;
}

/* Номера для страниц слайдера */
.slider-numbers {
  font-family: "gilroyextrabold", Arial, sans-serif;
  font-size: 180.5px;
  line-height: 180.5px;
  color: #ffffff;
}

/* ==============Тело============== */

/* Заголовки разделов */
.index-columns h2 {
  font-family: "gilroyextrabold", Arial, sans-serif;
  font-size: 47.5px;
  line-height: 47.5px;
  color: #000000;
}

/* Список компаний*/
.companies-list {
  list-style: circle;
}

.companies-list a {
  font-family: "gilroyextrabold", Arial, sans-serif;
  font-size: 16px;
  line-height: 40px;
  color: #000000;
}

.companies-list a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.companies-list a:active {
  color: rgba(0, 0, 0, 0.3);
}

/* ==============Подвал============== */
.main-footer {
  background-color: #464646;
  color: #ffffff;
}

.index-footer-logo,
.inner-footer-logo {
  color: #ffc600;
}

/* Меню */
.footer-user-navigation a,
.footer-site-navigation a {
  color: #ffffff;
}

.footer-user-navigation a:hover,
.footer-site-navigation a:hover,
.footer-phone a:hover {
  color: rgba(255, 255, 255, 0.6);
}

.footer-user-navigation a:active,
.footer-site-navigation a:active,
.footer-phone a:active {
  color: rgba(255, 255, 255, 0.3);
}

.footer-social {
  text-align: center;
}

.social-btn {
  color: #ffffff;
}

.footer-copyright {
  text-align: center;
}

.html-logo {
  width: 27px;
  height: 35px;
  object-fit: contain;
  /* ? */
  fill: #ffc600;
}

.html-logo:hover {
  opacity: 0.6;
}

.html-logo:active {
  opacity: 0.3;
}


.footer-copyright {
  text-align: right;
}

.footer-phone {
  text-align: right;
}

.footer-phone a {
  color: #ffffff;
}

.modal {
  display: none;
}


/*================================ Страница каталога ================================*/
.inner-header-logo:hover{
    color: rgba(0, 0 ,0, 0.5);
}

.inner-header-logo:active{
    color: rgba(0, 0, 0, 0.2);
} 

.inner-footer-logo:hover{
  color: rgba(255, 198, 0 , 0.6);
}
.inner-footer-logo:active{
color: rgba(255, 198, 0, 0.3);
}
/* .search-field {
  width: 441px;
  padding-bottom: 14px;
} */


/* разобраться с кнопкой и инпутом */


/* .search-field:focus {
  border-bottom: 2px solid #000000;
} */
