@font-face {
  font-family: "OpenSansRegular";
  src: url("../fonts/opensans-regular.woff2") format("woff2");
  src: url("../fonts/opensans-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "OpenSansLight";
  src: url("../fonts/opensans-light-webfont.woff2") format("woff2");
  /* добавить woff для критерия */
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "GilroyExtraBold";
  src: url("../fonts/gilroyextrabold-webfont.woff2") format("woff2");
  /* добавить woff для критерия */
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "GilroyLight";
  src: url("../fonts/gilroylight-webfont.woff2") format("woff2"),
    url("../fonts/gilroylight-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

body {
  margin: 0;
  padding: 0;

  font-family: "GilroyExtraBold", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #000000;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.header-site-navigation a,
.footer-site-navigation a {
  letter-spacing: 3.6px;
}

.button {
  position: relative;
  font-family: "GilroyExtraBold", Arial, sans-serif;
  font-size: 18px;
  line-height: 23.5px;
  letter-spacing: 3.8px;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
  background: none;
  border: none;
  padding: 0 22px;
  z-index: 0;

  cursor: pointer;
}

.button::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 8px;
  background: #f0c52e;
  left: 0;
  top: 50%;
  z-index: -1;
  transform: translateY(-50%);
}

.button:hover::after {
  padding-top: 16px;
  padding-bottom: 16px;
}

.button:active {
  color: rgba(0, 0, 0, 0.3);
}

.main-header {
  width: 1160px;
  padding-bottom: 54px;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  background-color: #f7e296;
}

.main-logo {
  font-size: 48px;
  line-height: 48px;
  text-transform: uppercase;

}

.main-header .main-logo {
  width: 163px;
  height: 36px;
  letter-spacing: 0.3px;
  position: absolute;
  top: -24px;
  left: 58px;
}

.main-header a[href]:hover,
.main-header .main-logo[href]:hover {
  opacity: 0.6;
}

.main-header .main-logo[href]:active,
.main-header a[href]:active {
  opacity: 0.3;
}

.search {
  width: 301px;
  padding-left: 38px;
  font-family: "OpenSansLight", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  border: none;
  border-bottom: 2px solid transparent;
  background-color: transparent;
  padding-bottom: 17px;

}

.search-wrapper {
  position: relative;
}

.search-wrapper::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  top: 10px;
  left: 3px;
  background-image: url("../img/search.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.search-button {
  display: none;
  position: absolute;
  top: 1px;
  left: 338px;
  font-family: "OpenSansLight", Arial, sans-serif;

  font-size: 15px;
  border: none;
  padding: 14px 19px;
  border: 2px solid #000000;
  background-color: inherit;
}

.search::placeholder {
  opacity: 0.3;
}

.search:hover::placeholder {
  opacity: 0.6;
}

.search:focus {
  color: #000000;
  border-bottom: 2px solid #000000;
}

.search-button:hover {
  color: #ffffff;
  background: #000000;
}

.search-button:active {
  color: rgba(255, 255, 255, 0.3);
}

.header-site-navigation,
.header-site-navigation .dropdown-menu,
.footer-site-navigation,
.header-user-navigation,
.footer-social,
.footer-user-navigation,
.catalog-list,
.companies-list,
.dropdown-menu ul,
.popular-menu-list {
  list-style: none;
}

.header-site-navigation,
.footer-site-navigation {
  text-transform: uppercase;
}

.header-user-navigation,
.footer-user-navigation {
  font-family: "OpenSansLight", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
}

.main-header a {
  color: #000000;
}

.exit-link a {
  color: rgba(0, 0, 0, 0.3);
}

.header-site-navigation .dropdown-menu {
  font-family: "OpenSansLight", Arial, sans-serif;
  font-size: 15px;
  line-height: 36px;
  text-transform: none;
}

.slider {
  position: relative;
  width: 1040px;
  padding: 0 60px;
  background: linear-gradient(to bottom, #f7e296 108px, #ffffff 0px);
  margin-bottom: 100px;
}

.slider-item-picture {
  width: 560px;
  padding-right: 41px;
  margin: 0 auto;
}

.slider-item-picture img {
  margin-left: 30px;
  margin-top: -4px;
}

.slider-item-description {
  width: 560px;
  padding-top: 77px;
}

.slider-controls label {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 21px;
  border: 1px solid #000000;
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
}


.slider-controls {
  position: absolute;
  right: 62px;
  bottom: 138px;
  font-size: 0;

  z-index: 10;
}

.slider-item .page-subtitle {
  max-width: 500px;
  line-height: 56px;
  padding: 0;
  margin: 0;
  padding-bottom: 18px;
  letter-spacing: 0.5px;
}

.slider-item .slider-button {
  padding: 0 42px;
}

.page-subtitle.title-notch-white {
  position: relative;
}

.page-subtitle.title-notch-white::before {
  content: "";
  width: 100px;
  height: 7px;
  background: #ffffff;
  position: absolute;
  top: -43px;
}

.about-us p,
.contacts p,
.slider-item p {
  font-family: "OpenSansLight", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  color: #464646;
  margin: 0;
  padding: 0;
}

.slider-item p {
  max-width: 485px;
  line-height: 30px;
  letter-spacing: 0.16px;
  padding-bottom: 51px;
}

.slider-list {
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;

  counter-reset: section;
}

.slider-item::after {
  position: absolute;
  counter-increment: section;
  content: counters(section, ".", decimal-leading-zero);
  font-size: 180.5px;
  line-height: 180.5px;
  color: #ffffff;
  top: -15px;
  right: -12px;
}

.slider-item {
  display: none;
}

.slider-item:nth-child(1) {
  display: flex;
}

.item-1:checked~.slider-item:nth-child(1),
.item-2:checked~.slider-item:nth-child(2),
.item-3:checked~.slider-item:nth-child(3) {
  display: flex;
}

.item-1:checked~label[for="item-1"] {
  background-color: #000000;
}

.slider-item-specifications {
  /* display: flex; */
  /* flex-direction: column-reverse; */
  padding-top: 55px;
}

.slider-item-specifications colgroup {
  width: 30%;
}

.slider-item-specifications thead {
  font-family: "OpenSansLight", Arial, sans-serif;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.1px;
  color: #464646;
}

.slider-item-specifications th,
.slider-item-specifications td {
  padding: 0;
  margin: 0;
}

.slider-item-specifications th:last-child,
.slider-item-specifications td:last-child {
  padding-right: 0;
}

.slider-item-specifications tbody {
  font-family: "GilroyLight", Arial, sans-serif;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: 0.4px;
}

.about-us .page-subtitle,
.contacts .page-subtitle {
  margin: 0;
  padding-bottom: 42px;
}

.about-us p {
  padding-bottom: 30px;
}

.contacts p {
  padding-bottom: 38px;
}

.page-subtitle {
  font-size: 47px;
  line-height: 48px;
  color: #000000;
}

.page-subtitle.title-notch-black {
  position: relative;
}

.page-subtitle.title-notch-black::before {
  content: "";
  width: 80px;
  height: 7px;
  background: black;
  position: absolute;
  top: -52px;
}

.companies-list {
  margin: 0;
  padding-top: 36px;
  padding-bottom: 63px;
  padding-left: 37px;
}

.companies-list li {
  position: relative;
}

.companies-list li::before {
  position: absolute;
  content: "";
  width: 18px;
  height: 18px;
  background-image: url("../img/companies-list-circle.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  left: -40px;
  top: 12px;
}

.companies-list a {
  font-size: 16px;
  line-height: 40px;
  color: #000000;
}

.companies-list a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.companies-list a:active {
  color: rgba(0, 0, 0, 0.3);
}

.map {
  padding-bottom: 73px;
}

.main-footer {
  background-color: #464646;
  color: #ffffff;
}

.main-footer .main-logo {
  position: relative;
  color: #ffc600;
}

/* привязать к контейнеру, а не к футеру */
.main-footer .main-logo::before {
  content: "";
  width: 80px;
  height: 7px;
  background: #ffc600;
  position: absolute;
  top: 174px;
}

.main-footer .main-logo[href]:hover,
.main-footer a[href]:hover {
  opacity: 0.6;
}

.main-footer .main-logo[href]:active,
.main-footer a[href]:active {
  opacity: 0.3;
}

.main-footer a {
  color: #ffffff;
}

.main-footer .exit-link {
  color: rgba(255, 255, 255, 0.3);
}

.footer-phone,
.footer-contacts {
  font-family: "OpenSansLight", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  margin: 0;
  padding: 0;
}

.footer-phone a {
  color: #ffffff;
}

.htmlacademy-button path {
  width: 27px;
  height: 35px;
  fill: #ffc600;
}

.htmlacademy-button:hover path {
  opacity: 0.6;
}

.htmlacademy-button:active path {
  opacity: 0.3;
}

.footer-copyright {
  position: absolute;
  right: 0;
}

.breadcrumbs a {
  color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs a[href]:hover {
  color: rgba(0, 0, 0, 0.6);
}

.breadcrumbs a[href]:active {
  color: rgba(0, 0, 0, 0.1);
}

.filter fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

.filter ul {
  font-family: "OpenSansLight", Arial, sans-serif;
  font-size: 14px;
  line-height: 40px;
  list-style: none;
}

.filter-option label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
}

.filter-input-checkbox+label::before {
  content: "";
  position: absolute;

  width: 23px;
  height: 23px;
  top: 8px;
  left: -41px;
  background-image: url("../img/checkbox-off.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.filter-input-checkbox:checked+label::after {
  content: "";
  position: absolute;

  width: 27px;
  height: 23px;
  left: -41px;
  top: 8px;
  background-image: url("../img/checkbox-on.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.filter-input:hover+label {
  color: rgba(0, 0, 0, 0.6);
}

.filter-input:active+label {
  color: #000000;
}

.filter-input:disabled+label {
  color: #a6a6a6;
}

.filter-input-radio+label::before {
  content: "";
  position: absolute;

  width: 25px;
  height: 25px;
  top: 7px;
  left: -41px;

  background-image: url("../img/radio-off.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.filter-input-radio:checked+label::after {
  content: "";
  position: absolute;

  width: 9px;
  height: 9px;
  top: 15px;
  left: -33px;
  background-color: #000000;
  border-radius: 50%;
}

.filter legend {
  position: relative;

  /* margin-bottom: 3px; */
}

.filter legend::before {
  content: "";
  position: absolute;

  width: 201px;
  height: 2px;
  bottom: 34px;
  background-color: #000000;

}

.filter .filter-color {
  margin-bottom: 43px;
}

.filter .button {
  padding: 0 40px;
}

.filter-count legend {
  margin-bottom: 26px;
}

.filter-color legend {
  margin-bottom: 18px;
}

.filter .filter-count {
  margin-bottom: 63px;
}

.filter-bluetooth legend {
  margin-bottom: 18px;
}

.filter-color-list {
  margin: 0;
  padding: 0;
  padding-left: 39px;
  letter-spacing: -0.1px;
}

.filter-bluetooth-list {
  margin: 0;
  padding: 0;
  padding-left: 39px;
}

.filter .filter-bluetooth {
  margin-bottom: 39px;
}

.catalog-item-info {
  display: flex;

  margin-top: 26px;
}

.catalog-item-image {
  width: 360px;
  height: 380px;
  /* position: relative; */
}

.catalog-item a {
  color: #000000;
}

.catalog-item h3 {
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.18px;
  margin: 0;
  padding: 0;
}

.catalog-item-price {
  font-family: "GilroyLight", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.2px;
  margin-left: auto;
}

.dropdown-menu {
  position: absolute;
  width: calc(100% + 120px);
  left: -60px;
  margin: 0;
  padding: 21px 60px 33px;
  box-sizing: border-box;
  display: none;
  flex-direction: row;
  flex-wrap: wrap;
  z-index: 1;
  background-color: #f7e296;
}

.catalog-menu:hover>.dropdown-menu {
  display: flex;
}

.dropdown-menu li {
  padding-right: 29px;
}

.drop-down-menu>li:last-child {
  padding-left: 17px;
}

.dropdown-menu a {
  letter-spacing: 0.2px;
}

.dropdown-menu ul {
  padding: 0;
  margin: 0;
}


.header-user-navigation,
.header-site-navigation {
  margin: 0;
  padding: 0;
}

.header-site-navigation a,
.header-user-navigation a {
  display: block;
}

.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
}

.main-header .container {
  position: relative;
  width: 1040px;
  padding: 0 60px;
  padding-top: 41px;
}

.search:focus~.search-button {
  display: block;
}

.header-site-navigation {
  /* width: 1040px; */

  display: flex;
  align-items: flex-start;
  /* flex-wrap: wrap; */
}

.header-user-navigation {
  width: 500px;
  display: flex;
  align-items: center;
  padding-bottom: 17px;
}

.header-user-navigation li:first-child {
  margin-right: auto;
  margin-left: 0;
}

.header-user-navigation li {
  margin-left: 38px;
}

.login-link,
.compare-link,
.cart-link {
  padding-left: 27px;
  position: relative;
}

.main-header .login-link::before {
  content: "";
  position: absolute;
  width: 13px;
  height: 12px;
  top: 9px;
  left: 0px;
  background-image: url("../img/user-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.login-link path,
.compare-link path,
.cart-link path {
  fill: #ffc600;
}

.main-header .compare-link::before {
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  top: 11px;
  left: 7px;
  background-image: url("../img/compare-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.main-header .cart-link::before {
  position: absolute;
  content: "";
  width: 12px;
  height: 12px;
  top: 9px;
  left: 4px;
  background-image: url("../img/cart-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.main-header .main-navigation {
  position: relative;
  padding-top: 22px;
}

.header-site-navigation .catalog-menu {
  margin-right: auto;
  margin-left: 0;
}

.catalog-link {
  padding-right: 35px;
}

.catalog-link::after {
  position: absolute;
  content: "";
  width: 16px;
  height: 16px;
  top: 26px;
  left: 230px;
  background-image: url("../img/plus.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.header-site-navigation .guarantee-link {
  margin-left: 34px;
}

.header-site-navigation .contacts-link {
  margin-left: 109px;
  margin-right: -4px;
}

.index-columns {
  display: flex;
  justify-content: space-between;
  padding-top: 132px;
}

.about-us {
  width: 472px;
}

.contacts {
  width: 560px;
}

.contacts .button {
  letter-spacing: 3.8px;
  padding: 0 40px;
}

.main-footer {
  margin-top: 89px;
  padding-bottom: 62px;
  padding-top: 63px;
}

.footer-user-navigation,
.footer-site-navigation,
.footer-social,
.footer-copyright {
  padding: 0;
  margin: 0;
}

.top-footer-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 19px;
}

.footer-user-navigation {
  display: flex;
}

.footer-user-navigation li {
  margin-right: 22px;
}

.footer-user-navigation li:last-child {
  margin-right: 0;
}

.middle-footer-wrapper {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 63px;
}

.footer-site-navigation {
  display: flex;
  flex-wrap: wrap;
}

.footer-site-navigation li {
  margin-right: 34px;
}

.bottom-footer-wrapper {
  display: flex;
  justify-content: center;
  position: relative;
}

.footer-social {
  display: flex;
  align-items: center;
}

.footer-social a {
  opacity: 0.3;
}

.footer-social a:hover {
  opacity: 0.6;
}

.footer-social a:active {
  opacity: 0.1;
}

.footer-social li {
  margin-right: 23px;
}

.footer-social li:last-child {
  margin-right: 0;
}

.inner-page .main-header {
  margin-bottom: 39px;
}

.inner-page .page-title {
  margin: 0 0 23px 0;
  padding: 0;
  font-size: 47.5px;
  line-height: 47.5px;
  letter-spacing: 0.3px;
  color: #000000;
}

.breadcrumbs {
  margin-bottom: 69px;
  padding: 0;
  font-family: "OpenSansLight", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;

  list-style: none;

  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.breadcrumbs li {
  position: relative;
  margin-right: 40px;
}

.breadcrumbs li::after {
  content: "";
  position: absolute;
  width: 4px;
  height: 7px;
  background-image: url("../img/nav-arrow.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
  top: 9px;
  right: -22px;
}

.breadcrumbs li:last-child {
  margin-right: 0;
}

.breadcrumbs li:last-child::after {
  display: none;
}

.filters {
  width: 201px;
}

.catalog {
  width: 760px;
}

.catalog-columns {
  display: flex;
  justify-content: space-between;
}

.catalog-item {
  width: 360px;
  margin-bottom: 46px;
  margin-right: 40px;
  /* position: relative; */
}

.catalog-item:nth-child(2n) {
  margin-right: 0;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-top: 116px;
}

.top-header-wrapper {
  display: flex;
  justify-content: space-between;
  width: 1040px;
}

.modal {
  position: fixed;
  width: 960px;
  box-shadow: 0 10px 20px rgba(4, 6, 6, 0.2);
}

.modal-feedback {
  width: 760px;
  padding: 98px 100px 88px;
  display: none;
  top: 100px;
  left: 50%;
  margin-top: -280px;
  margin-left: -500px;

  background: #ffffff;
}

.feedback-form-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.feedback-form-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.feedback-name-wrapper {
  display: flex;
  flex-direction: column;
}

.feedback-email-wrapper {
  display: flex;
  flex-direction: column;
}

.modal-feedback input {
  width: 360px;
}

.modal-feedback input,
.modal-feedback textarea {
  font-family: "OpenSansRegular", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  border: none;
  background: #f2f2f2;
  opacity: 0.5;
  border: solid 3px transparent;
  box-sizing: border-box;
}

.modal-feedback input {
  padding: 13px 0 13px 17px;
}

.modal-feedback textarea {
  padding-bottom: 70px;
  padding-top: 12px;
  padding-left: 17px;
}

.modal-feedback input:hover,
.modal-feedback textarea:hover {
  opacity: 0.8;
}

.modal-feedback input:focus,
.modal-feedback textarea:focus {
  opacity: 0.5;
  border: solid 3px #f0c52e;
}

.modal-feedback input:invalid,
.modal-feedback textarea:invalid {
  background-color: #edb5b5;
}

.modal-feedback label {
  margin-bottom: 7px;
}

.feedback-form-wrapper {
  margin-bottom: 34px;
}

.modal-feedback .button {
  margin-top: 47px;
  padding: 0 34px;
}

.modal-close {
  position: absolute;
  top: 28px;
  right: 22px;
  width: 55px;
  height: 55px;

  font-size: 0;
  border: 0;
  background: none;
  background-image: url("../img/modal-close.svg");
  opacity: 0.5;

  cursor: pointer;
}

.modal-close:hover {
  opacity: 1;
}

.modal-close:active {
  opacity: 0.3;
}

.modal-map {
  top: 50%;
  left: 50%;
  display: none;
  width: 960px;
  height: 559px;
  margin-top: -280px;
  margin-left: -500px;
}

.catalog-container {
  width: 1100px;
  margin: 0 auto;
  padding: 0 20px 0 80px;
  /* background: rgba(34, 25, 100, 0.2);
  box-shadow: inset 0 0 0 2px rgb(34, 25, 100); */
}

.pagination-list {
  margin: 0;
  padding: 0 30px;

  font-size: 16px;
  line-height: 24px;

  display: flex;
  flex-wrap: wrap;
  list-style: none;
  background-color: #ebebeb;
}

.pagination-item a {
  color: #000000;
}

.pagination-button button {
  margin: 0;
  padding: 0;

  border: none;
  background: none;
  text-transform: uppercase;
  letter-spacing: 3.5px;
}

.pagination-button-back {
  margin-right: 237px;
  cursor: pointer;
}

.pagination-button-next {
  margin-left: auto;
  cursor: pointer;
}

.pagination-item {
  margin-right: 31px;
}

.pagination-item:last-child {
  /* margin-right: 0; */
}

.filter h2 {
  margin: 0;
  padding: 0;

  margin-bottom: 104px;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 3.8px;
  text-transform: uppercase;
}

.catalog-item-image {
  opacity: 1;
  /* display: block; */
}

/* Как лучше делать, через opacity или display: none? */
.catalog-item-buttons {
  position: absolute;
  flex-direction: column;
  bottom: 141px;
  left: 94px;
  /* display: flex; */
  /* opacity: 0; */
  display: none;
}

.catalog-item-container {
  position: relative;
}

.catalog-item-container:hover .catalog-item-image {
  opacity: 0.3;
}

.catalog-item-container:hover .catalog-item-buttons {
  /* opacity: 1; */
  display: flex;
}

.button-add-cart {
  margin-bottom: 22px;
}

.button-add-compare {
  font-family: "OpenSansLight", Arial, sans-serif;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.1px;
  opacity: 0.5;

  margin: 0;
  padding: 0;

  border: none;
  background: none;
  cursor: pointer;
}

.button-add-compare:hover {
  opacity: 1;
}

.button-add-compare:active {
  opacity: 0.2;
}

.popular-item-link {
  font-size: 18px;
  line-height: 24px;
  color: #000000;
}

.popular-list-item {
  width: 160px;
}

.popular-menu-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0;
  padding: 0;
}

.popular-list-item h3 {
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.2px;
  padding: 0;
  margin: 0;
}

.popular-item-logo {
  display: block;
  width: 100%;
  padding-bottom: 100%;
  background: #f7e296 no-repeat center;
  margin-bottom: 34px;
}

.popular-item-logo.vr-logo {
  background-image: url("../img/popular-1.svg");
}

.popular-item-logo.selfie-logo {
  background: #f7e296 url("../img/popular-2.svg") no-repeat center bottom;
}

.popular-item-logo.camera-logo {
  background-image: url("../img/popular-3.svg");
}

.popular-item-logo.fitness-logo {
  background-image: url("../img/popular-4.svg");
}

.popular-item-logo.clock-logo {
  background-image: url("../img/popular-5.svg");
}

.popular-item-logo.quadcopter-logo {
  background-image: url("../img/popular-6.svg");
}

.popular-item-logo:hover,
.popular-item-logo:active {
  background-color: #f0c52e;
}

.popular-list-item:active {
  opacity: 0.3;
}

.slider-advantages {
  background: #e5e5e5;
  padding-bottom: 96px;
  margin-top: 181px;
}

.slider-advantages .container {
  display: flex;
}

.slider-advantages-menu {
  padding: 0;
  margin: 0;
  padding-right: 236px;
  top: -11px;
  position: relative;
  list-style: none;
}

.slider-advantages-menu::after {
  content: "";
  position: absolute;
  background-color: #000000;
  width: 7px;
  top: -89px;
  left: 277px;
  height: 319px;
}

.slider-advantages-menu li {
  padding-bottom: 40px;
}

.slider-advantages-list {
  padding: 0;
  margin: 0;
  top: -26px;
  position: relative;
  list-style: none;
}

.slider-advantages-description {
  position: relative;
  display: none;
}

.slider-advantages-description:nth-child(1) {
  display: block;
}

.slider-advantages-description h3 {
  padding: 0;
  margin: 0;
  padding-bottom: 30px;
  max-width: 500px;
  letter-spacing: 1.3px;
}

.slider-advantages-description p {
  padding: 0;
  margin: 0;

  max-width: 460px;

  font-family: "OpenSansLight", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 0.3px;
}

.slider-advantages-menu-item:nth-child(1) .button {
  padding: 0 19px;
}

.slider-advantages-menu-item:nth-child(2) .button {
  padding: 0 24px;
}

.slider-advantages-menu-item:nth-child(3) .button {
  padding: 0 37px;
}

.slider-advantages-menu-item .button:focus {
  color: #f7e184;
}

.slider-advantages-menu-item .button:focus::after {
  padding: 16px 116px 16px 0;
  background: #000000;
}

.slider-advantages-description::after {
  position: absolute;
  content: "";
  background-repeat: no-repeat;
  background-position: 0 0;
}

.slider-advantages-description.description-delivery::after {
  width: 136px;
  height: 164px;
  top: 11px;
  right: -234px;
  background-image: url("../img/delivery.svg");
}

.slider-advantages-description.description-warranty::after {
  width: 171px;
  height: 194px;
  top: -13px;
  right: -254px;
  background-image: url("../img/warranty.svg");
}

.slider-advantages-description.description-credit::after {
  width: 156px;
  height: 186px;
  top: -13px;
  right: -230px;
  background-image: url("../img/credit.svg");
}

.manufacturers-list {
  list-style: none;
}

.manufacturers-list li {
  display: inline-block;
}

.manufacturers-list-item a img {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  /* filter: url(grayscale.svg); Firefox 4+ */
  filter: gray; /* IE 6-9 */
}
