@font-face {
  font-family: "OpenSansLight";
  src: url("../fonts/opensans-light-webfont.woff2") format("woff2");
  /* добавить woff для критерия */
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "GilroyExtraBold";
  src: url("../fonts/gilroyextrabold-webfont.woff2") format("woff2");
  /* добавить woff для критерия */
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "GilroyLight";
  src: url("../fonts/gilroylight-webfont.woff2") format("woff2"),
    url("../fonts/gilroylight-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

body {
  margin: 0;
  padding: 0;

  font-family: "GilroyExtraBold", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #000000;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.header-site-navigation a,
.footer-site-navigation a {
  letter-spacing: 3.6px;
}

.button {
  font-family: "GilroyExtraBold", Arial, sans-serif;
  font-size: 16px;
  line-height: 23.5px;
  letter-spacing: 3.6px;
  color: #000000;
  text-transform: uppercase;

  background-color: #f0c52e;

  display: inline-flex;
  align-items: center;
  height: 8px;
  padding: 0 14px;
  border: none;
}

.button:hover {
  padding: 10px;
}

.button:active {
  color: rgba(0, 0, 0, 0.3);
}

.main-header {
  width: 1160px;
  padding-top: 53px;
  padding-bottom: 169px;
  margin: 0 auto;
  background-color: #f7e296;
  /* background-clip: content-box; */
  margin-top: 40px;
  /* position: relative;
  padding-top: 53px;
  padding-bottom: 169px;  */
}

.main-logo {
  font-size: 48px;
  line-height: 48px;
  text-transform: uppercase;
}

/* косяк с логотипом, анимация отрабатывает на главной */
.main-header a[href]:hover {
  opacity: 0.6;
}

.main-header .main-logo[href]:active,
.main-header a[href]:active {
  opacity: 0.3;
}

.search-underline {
  display: flex;
  border-bottom: 2px solid #000000;
  width: 441px;
}

.search {
  font-family: "OpenSansLight", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  border: none;
  background-color: transparent;

  margin-right: auto;
}

.search::placeholder {
  opacity: 0.3;
}

.search:hover::placeholder {
  opacity: 0.6;
}

.search:focus {
  color: #000000;
}

.search-button {
  font-family: "OpenSansLight", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  border: none;
  width: 85px;
  height: 49px;
  border-top: 2px solid #000000;
  border-left: 2px solid #000000;
  border-right: 2px solid #000000;
  background-color: inherit;
}

.search-button:hover {
  color: #ffffff;
  background: #000000;
}

.search-button:active {
  color: rgba(255, 255, 255, 0.3);
}

.header-site-navigation,
.header-site-navigation .dropdown-menu,
.footer-site-navigation,
.header-user-navigation,
.footer-user-navigation .footer-social,
.catalog-list {
  list-style: none;
}

.header-site-navigation {
  text-transform: uppercase;
}

.header-user-navigation,
.footer-user-navigation {
  font-family: "OpenSansLight", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
}


.main-header a {
  color: #000000;
}

.exit-link a {
  color: rgba(0, 0, 0, 0.3);
}

.header-site-navigation .dropdown-menu {
  font-family: "OpenSansLight", Arial, sans-serif;
  font-size: 15px;
  line-height: 36px;
  text-transform: none;
}

.slider-numbers {
  font-size: 180.5px;
  line-height: 180.5px;
  color: #ffffff;
}

.slider-numbers .number:nth-child(2),
.slider-numbers .number:nth-child(3) {
  display: none;
}

.about-us p,
.contacts p {
  font-family: "OpenSansLight", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  color: #464646;
}

.index-columns h2 {
  font-size: 47.5px;
  line-height: 47.5px;
  color: #000000;
}

.companies-list {
  list-style: circle;
}

/* Можно вешать размер шрифта и высоту строки на anchor? или лучше на li? */
.companies-list a {
  font-size: 16px;
  line-height: 40px;
  color: #000000;
}

.companies-list a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.companies-list a:active {
  color: rgba(0, 0, 0, 0.3);
}

.main-footer {
  background-color: #464646;
  color: #ffffff;
}

.main-footer .main-logo {
  color: #ffc600;
}

.main-footer .main-logo[href]:hover,
.main-footer a[href]:hover {
  opacity: 0.6;
}

.main-footer .main-logo[href]:active,
.main-footer a[href]:active {
  opacity: 0.3;
}

.main-footer a {
  color: #ffffff;
}

.exit-link a {
  color: rgb(255, 255, 255, 0.3);
}

/*
.main-footer a[href]:hover {
  opacity: 0.6;
}

.main-footer a[href]:active {
  opacity: 0.3;
}
*/
/* .footer-social {
  text-align: center;
} */

.footer-phone,
.footer-contacts {
  font-family: "OpenSansLight", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
}

/* .footer-phone {
  text-align: right;
} */

.footer-phone a {
  color: #ffffff;
}

/* перепроверить после того урока где покажут как правильно описывать такие кнопки */
.htmlacademy-button path {
  width: 27px;
  height: 35px;
  fill: #ffc600;
}

.htmlacademy-button:hover path {
  opacity: 0.6;
}

.htmlacademy-button:active path {
  opacity: 0.3;
}

.footer-copyright {
  text-align: right;
}

.page-title {
  font-size: 47.5px;
  line-height: 47.5px;
  color: #000000;
}

.breadcrumbs {
  font-family: "OpenSansLight", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;

  list-style: none;
}

.breadcrumbs a {
  color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs a[href]:hover {
  color: rgba(0, 0, 0, 0.6);
}

.breadcrumbs a[href]:active {
  color: rgba(0, 0, 0, 0.1);
}

.filter fieldset {
  border: none;
}

.filter ul {
  font-family: "OpenSansLight", Arial, sans-serif;
  font-size: 14px;
  line-height: 40px;
  list-style: none;
}

.filter-input:hover+label {
  color: rgba(0, 0, 0, 0.6);
}

.filter-input:active+label {
  color: #000000;
}

.filter-input:disabled+label {
  color: #a6a6a6;
}

.modal {
  display: none;
}

.catalog-item a {
  color: #000000;
}

.catalog-item-price {
  font-family: "GilroyLight", Arial, sans-serif;
  font-size: 16px;
}

.dropdown-menu {
  display: none;
}

/* -------------------------------- */

.main-header .main-logo {
  position: absolute;
  top: 15px;
}

.header-user-navigation,
.header-site-navigation {
  margin: 0;
  padding: 0;
}

.header-site-navigation a,
.header-user-navigation a {
  display: block;
  /* как вычислять паддинг кнопок на таком макете? */
}

.container {
  width: 1160px;
  margin: 0 auto;

  background: rgba(34, 25, 100, 0.2);
  box-shadow: inset 0 0 0 2px rgb(34, 25, 100);
}

.header-container {
  width: 1040px;
  margin: 0 auto;
  background: rgba(234, 25, 100, 0.2);
  box-shadow: inset 0 0 0 2px rgb(234, 25, 100);
}

.header-user-navigation {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 54px;
  background: rgba(111, 25, 200, 0.2);
  box-shadow: inset 0 0 0 2px rgb(111, 25, 200);
}

.search {
  width: 108px;
}

.user-navigation-list .search-input {
  position: relative;
}

.search-input::before {
  content: "";

  width: 16px;
  height: 16px;

  position: absolute;

  background-image: url("../img/search.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.header-user-navigation .login-link {
  position: relative;
}

.login-link::before {
  content: "";

  position: absolute;

  width: 13px;
  height: 12px;

  top: 10px;
  background-image: url("../img/user-icon.svg");
  background-position: 0 0;
  background-repeat: no-repeat;

}

.header-user-navigation .compare-link {
  position: relative;
}

.compare-link::before {
  content: "";

  position: absolute;

  width: 13px;
  height: 12px;

  top: 10px;
  background-image: url("../img/cart-icon.svg");
  background-position: 0 0;
  background-repeat: no-repeat;

}

.header-user-navigation .cart-link {
  position: relative;
}

.cart-link::before {
  content: "";

  position: absolute;

  width: 13px;
  height: 12px;

  top: 10px;
  background-image: url("../img/cart-icon.svg");
  background-position: 0 0;
  background-repeat: no-repeat;

}

.header-user-navigation li:nth-child(1) {
  margin-left: 40px;
}

.header-user-navigation li:nth-child(2) {
  margin-left: 420px;
}

.header-user-navigation li:nth-child(3) {
  margin-left: 238px;
}

.header-user-navigation li:nth-child(4) {
  margin-left: auto;
}

.header-user-navigation li:nth-child(4) {
  margin-left: auto;
}

.header-site-navigation li:nth-child(2) {
  margin-left: 326px;
}

.header-site-navigation li:nth-child(3) {
  margin-left: 38px;
}

.header-site-navigation li:nth-child(4) {
  margin-left: auto;
}

.header-site-navigation {
  flex-wrap: wrap;
  display: flex;
  background: rgba(111, 25, 200, 0.2);
  box-shadow: inset 0 0 0 2px rgb(111, 25, 200);
}

.index-columns {
  display: flex;
  justify-content: space-between;
  padding-top: 93px;
}

.about-us {
  width: 460px;
}

.contacts {
  width: 560px;
}

.main-footer {
  margin-top: 93px;
}

/* .header-user-navigation{
  display: flex;
  padding-left: 63px;
  margin-bottom: 54px;
}

.header-site-navigation{
  display: flex;
} */

/*
.header-user-navigation {
  display: flex;
  flex-wrap: wrap;
  width: 1000px;
  margin: 0 auto;
  background: rgba(23, 25, 100, 0.2);
  box-shadow: inset 0 0 0 2px rgb(23, 25, 100);
}

.header-site-navigation {
  display: flex;

  background: rgba(23, 25, 100, 0.2);
  box-shadow: inset 0 0 0 2px rgb(23, 25, 100);
} */

/* .main-header .main-logo {
  position: absolute;
  padding-left: 60px;
  top: -21px;
}

.main-navigation {
  padding: 0 60px;
}

.header-user-navigation,
.header-site-navigation,
.footer-user-navigation,
.footer-site-navigation {
  margin: 0;
  padding: 0;
}

.header-user-navigation {
  width: 1040px;
  display: flex;

  padding-top: 53px;
}

.header-user-navigation li:first-child {
  padding-left: 40px;
  padding-right: 393px;
}

.header-user-navigation li:nth-child(2) {
  padding-right: 238px;
}

.header-user-navigation li:last-child {
  margin-left: auto;
}

.header-site-navigation {
  width: 1040px;
  display: flex;

  padding-top: 50px;
}

.header-site-navigation li:first-child {
  padding-right: 326px;
}

.header-site-navigation li:nth-child(2) {
  padding-right: 38px;
}

.header-site-navigation li:last-child {
  margin-left: auto;
}

.index-columns {
  display: flex;
  justify-content: space-between;
  padding-top: 93px;
}

.about-us {
  width: 460px;
}

.contacts {
  width: 560px;
}

.main-footer {
  margin-top: 93px;
}

.main-footer .contacts,
.main-footer .phone,
.main-footer .copyright{
  margin: 0;
 } */
