@font-face {
  font-family: "OpenSansLight";
  src: url("../fonts/opensans-light-webfont.woff2") format("woff2");
  /* добавить woff для критерия */
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "GilroyExtraBold";
  src: url("../fonts/gilroyextrabold-webfont.woff2") format("woff2");
  /* добавить woff для критерия */
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "GilroyLight";
  src: url("../fonts/gilroylight-webfont.woff2") format("woff2"),
    url("../fonts/gilroylight-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

body {
  margin: 0;
  padding: 0;

  font-family: "GilroyExtraBold", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #000000;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.header-site-navigation a,
.footer-site-navigation a {
  letter-spacing: 3.6px;
}

.button {
  position: relative;
  font-family: "GilroyExtraBold", Arial, sans-serif;
  font-size: 18px;
  line-height: 23.5px;
  letter-spacing: 3.8px;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
  background: none;
  border: none;
  padding: 0 22px;
}

.button::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 8px;
  background: #f0c52e;
  left: 0;
  top: 50%;
  z-index: -1;
  transform: translateY(-50%);
}

.button:hover::after {
  padding-top: 16px;
  padding-bottom: 16px;
}

.button:active {
  color: rgba(0, 0, 0, 0.3);
}

.main-header {
  width: 1160px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
  background-clip: content-box;
  background-color: #f7e296;
  margin-top: 40px;
}

.main-logo {
  font-size: 48px;
  line-height: 48px;
  text-transform: uppercase;
}

.main-header a[href]:hover,
.main-header .main-logo[href]:hover {
  opacity: 0.6;
}

.main-header .main-logo[href]:active,
.main-header a[href]:active {
  opacity: 0.3;
}

.search {
  width: 301px;
  padding-left: 38px;
  padding-bottom: 17px;
  font-family: "OpenSansLight", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  border: none;
  border-bottom: 2px solid transparent;
  background-color: transparent;

}

.search-wrapper {
  position: relative;
}

.search-wrapper::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  top: 10px;
  left: 3px;
  background-image: url("../img/search.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.search-button {
  display: none;
  position: absolute;
  top: 1px;
  left: 338px;
  font-family: "OpenSansLight", Arial, sans-serif;

  font-size: 15px;
  border: none;
  padding: 14px 19px;
  border: 2px solid #000000;
  background-color: inherit;
}

.search::placeholder {
  opacity: 0.3;
}

.search:hover::placeholder {
  opacity: 0.6;
}

.search:focus {
  color: #000000;
  border-bottom: 2px solid #000000;
}

.search-button:hover {
  color: #ffffff;
  background: #000000;
}

.search-button:active {
  color: rgba(255, 255, 255, 0.3);
}

.header-site-navigation,
.header-site-navigation .dropdown-menu,
.footer-site-navigation,
.header-user-navigation,
.footer-social,
.footer-user-navigation,
.catalog-list,
.companies-list {
  list-style: none;
}

.header-site-navigation,
.footer-site-navigation {
  text-transform: uppercase;
}

.header-user-navigation,
.footer-user-navigation {
  font-family: "OpenSansLight", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  padding-bottom: 16px;
}

.main-header a {
  color: #000000;
}

.exit-link a {
  color: rgba(0, 0, 0, 0.3);
}

.header-site-navigation .dropdown-menu {
  font-family: "OpenSansLight", Arial, sans-serif;
  font-size: 15px;
  line-height: 36px;
  text-transform: none;
}

.slider {
  position: relative;
  width: 1040px;
  padding: 5px 60px 0 60px;
  background: linear-gradient(to bottom, #f7e296 112px, #ffffff 100px);
}

.slider-item-picture {
  width: 560px;
  padding-right: 41px;
  margin: 0 auto;
  /* text-align: center; */
}

.slider-item-picture img {
  margin-left: 30px;
  margin-top: -4px;
}

.slider-item-description {
  width: 560px;
  padding-top: 34px;
  /* margin-left: 40px; */
}

.slider-controls i {
  position: relative;
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  cursor: pointer;
  padding: 8px;
  background-color: red;
}

.slider-controls i::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  z-index: 1;
  background-color: #ffffff;
  border-radius: 50%;
}

.slider-item .page-subtitle {
  max-width: 500px;
  line-height: 55px;
  margin: 0;
  padding-top: 43px;
  padding-bottom: 19px;
  letter-spacing: 0.4px;
}

.page-subtitle.title-notch-white {
  position: relative;
}

.page-subtitle.title-notch-white::before {
  content: "";
  width: 100px;
  height: 7px;
  background: #ffffff;
  position: absolute;
  top: 0px;
  left: 1px;
}

.page-subtitle.slider-num::after {
  position: absolute;
  content: "";
  font-size: 180.5px;
  line-height: 180.5px;
  color: #ffffff;
  top: -51px;
  left: 330px;
}

.page-subtitle.slider-num.one::after {
  content: "01";
}

.page-subtitle.slider-num.two::after {
  content: "02";
}

.page-subtitle.slider-num.three::after {
  content: "03";
}

.slider-item p {
  max-width: 485px;
  margin: 0;
  letter-spacing: 0.2px;
  padding-bottom: 52px;

}

.slider-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.slider-item {
  display: none;
  padding-bottom: 51px;
}

.slider-item:nth-child(1) {
  display: flex;
}

.slider-item-specifications {
  display: flex;
  flex-direction: column-reverse;
  padding-top: 53px;
}

.slider-item-specifications thead {
  font-family: "OpenSansLight", Arial, sans-serif;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.1px;
  color: #464646;
}

.slider-item-specifications th,
.slider-item-specifications td {
  padding: 0;
  margin: 0;
}

.slider-item-specifications th {
  padding-right: 77px;
  padding-top: 4px;
  text-align: left;
}

.slider-item-specifications td {
  padding-top: 1px;
  padding-right: 74px;
}

.slider-item-specifications th:last-child,
.slider-item-specifications td:last-child {
  padding-right: 0;
}

.slider-item-specifications tbody {
  font-family: "GilroyLight", Arial, sans-serif;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: 0.4px;
}

.about-us p,
.contacts p,
.slider-item p {
  font-family: "OpenSansLight", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  color: #464646;
  margin: 0;
  padding: 0;
}

.about-us .page-subtitle,
.contacts .page-subtitle {
  margin: 0;
  padding-bottom: 42px;
}

.about-us p {
  padding-bottom: 30px;
}

.contacts p {
  padding-bottom: 38px;
}

.page-subtitle {
  font-size: 47px;
  line-height: 48px;
  color: #000000;
}

.page-subtitle.title-notch-black {
  position: relative;
}

.page-subtitle.title-notch-black::before {
  content: "";
  width: 80px;
  height: 7px;
  background: black;
  position: absolute;
  top: -52px;
}

.companies-list {
  margin: 0;
  padding-top: 36px;
  padding-bottom: 63px;
  padding-left: 37px;
}

.companies-list li {
  position: relative;
}

.companies-list li::before {
  position: absolute;
  content: "";
  width: 18px;
  height: 18px;
  background-image: url("../img/companies-list-circle.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  left: -40px;
  top: 12px;
}

.companies-list a {
  font-size: 16px;
  line-height: 40px;
  color: #000000;
}

.companies-list a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.companies-list a:active {
  color: rgba(0, 0, 0, 0.3);
}

.map {
  padding-bottom: 73px;
}

.main-footer {
  background-color: #464646;
  color: #ffffff;
}

.main-footer .main-logo {
  position: relative;
  color: #ffc600;
}

.main-footer .main-logo::before {
  content: "";
  width: 80px;
  height: 7px;
  background: #ffc600;
  position: absolute;
  top: 178px;
  left: 1px;
}

.main-footer .main-logo[href]:hover,
.main-footer a[href]:hover {
  opacity: 0.6;
}

.main-footer .main-logo[href]:active,
.main-footer a[href]:active {
  opacity: 0.3;
}

.main-footer a {
  color: #ffffff;
}

.main-footer .exit-link {
  color: rgba(255, 255, 255, 0.3);
}

.footer-phone,
.footer-contacts {
  font-family: "OpenSansLight", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  margin: 0;
  padding: 0;
}

.footer-phone a {
  color: #ffffff;
}

.htmlacademy-button path {
  width: 27px;
  height: 35px;
  fill: #ffc600;
}

.htmlacademy-button:hover path {
  opacity: 0.6;
}

.htmlacademy-button:active path {
  opacity: 0.3;
}

.footer-copyright {
  position: absolute;
  right: 0;
}

.breadcrumbs {
  font-family: "OpenSansLight", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;

  list-style: none;
}

.breadcrumbs a {
  color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs a[href]:hover {
  color: rgba(0, 0, 0, 0.6);
}

.breadcrumbs a[href]:active {
  color: rgba(0, 0, 0, 0.1);
}

.filter fieldset {
  border: none;
}

.filter ul {
  font-family: "OpenSansLight", Arial, sans-serif;
  font-size: 14px;
  line-height: 40px;
  list-style: none;
}

.filter-input:hover+label {
  color: rgba(0, 0, 0, 0.6);
}

.filter-input:active+label {
  color: #000000;
}

.filter-input:disabled+label {
  color: #a6a6a6;
}

.modal {
  /* display: none; */
}

.catalog-item a {
  color: #000000;
}

.catalog-item-price {
  font-family: "GilroyLight", Arial, sans-serif;
  font-size: 16px;
}

.dropdown-menu {
  position: absolute;
  width: 600px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* align-content: space-between; */
  z-index: 1;
  background-color: #f7e296;
}

.dropdown-menu li {
  padding-right: 75px;
}

.dropdown-menu li:last-child {
  padding-right: 0;
}

.dropdown-menu a {
  letter-spacing: 0.2px;
}

/* -------------------------------- */

.main-header .main-logo {
  width: 163px;
  height: 36px;
  position: absolute;
  top: -25px;
  left: 58px;
}

.header-user-navigation,
.header-site-navigation {
  margin: 0;
  padding: 0;
}

.header-site-navigation a,
.header-user-navigation a {
  display: block;
}

.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
  /* background: rgba(34, 25, 100, 0.2);
  box-shadow: inset 0 0 0 2px rgb(34, 25, 100); */
}

.main-header .container {
  width: 1040px;
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 41px;
  padding-bottom: 49px;
  position: relative;
}


/* .search-button::before {
  position: absolute;
  content: "";
  width: 441px;
  height: 2px;
  background: black;
  left: -355px;
  bottom: 0;
} */

.search:focus~.search-button {
  display: block;
}

.header-site-navigation {
  /* width: 1040px; */

  display: flex;
  align-items: flex-start;
  /* flex-wrap: wrap; */
}

.header-user-navigation {
  width: 500px;
  display: flex;
  align-items: center;
  padding-bottom: 17px;
  /* background: rgba(34, 25, 100, 0.2);
  box-shadow: inset 0 0 0 2px rgb(34, 25, 100); */
}

.header-user-navigation li:first-child {
  margin-right: auto;
  margin-left: 0;
}

.header-user-navigation li {
  margin-left: 38px;
}

.login-link,
.compare-link,
.cart-link {
  padding-left: 26px;
  position: relative;
}

.login-link::before {
  content: "";
  position: absolute;
  width: 13px;
  height: 12px;
  top: 9px;
  left: 0px;
  background-image: url("../img/user-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.compare-link::before {
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  top: 11px;
  left: 7px;
  background-image: url("../img/compare-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.cart-link::before {
  position: absolute;
  content: "";
  width: 12px;
  height: 12px;
  top: 9px;
  left: 4px;
  background-image: url("../img/cart-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

/* .footer-user-navigation .login-link::before,
.footer-user-navigation .compare-link::before,
.footer-user-navigation .cart-link::before {
  background-color: #ffc600;
} */

.main-header .main-navigation {
  padding-top: 22px;
}

.header-site-navigation .catalog-menu {
  margin-right: auto;
  margin-left: 0;
}

.catalog-menu {
  position: relative;
}

.catalog-link {
  padding-right: 35px;
}

.catalog-link::after {
  position: absolute;
  content: "";
  width: 16px;
  height: 16px;
  top: 3px;
  right: 8px;
  background-image: url("../img/plus.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.header-site-navigation .guarantee-link {
  margin-left: 34px;
}

.header-site-navigation .contacts-link {
  margin-left: 109px;
  margin-right: -4px;
}

.index-columns {
  display: flex;
  justify-content: space-between;
  padding-top: 132px;
}

.about-us {
  width: 472px;
}

/* .about-us p:first-child{
  padding-top: 3px;
} */

.contacts {
  width: 560px;
}

.contacts .button {
  letter-spacing: 3.8px;
  padding: 0 40px;
}

.main-footer {
  margin-top: 89px;
  /* padding-bottom: 66px; */
  padding-top: 59px;
}

.footer-user-navigation,
.footer-site-navigation,
.footer-social,
.footer-copyright {
  padding: 0;
  margin: 0;
}

.top-footer-wrapper {
  display: flex;
  justify-content: space-between;
}

.footer-user-navigation {
  display: flex;
  align-items: center;
}

.footer-user-navigation li {
  margin-right: 37px;
  margin-bottom: 10px;
}

.footer-user-navigation li:last-child {
  margin-right: 0;
}

.middle-footer-wrapper {
  display: flex;
  align-items: center;
  margin-top: 23px;
  justify-content: space-between;
}

.footer-site-navigation {
  display: flex;
  /* flex-wrap: wrap; */
}

.footer-site-navigation li {
  margin-right: 34px;
  margin-top: 5px;
}

.bottom-footer-wrapper {
  display: flex;
  justify-content: center;
  position: relative;
  margin-top: 62px;
}

.footer-social {
  display: flex;
  align-items: center;
  /* flex-wrap: wrap; */
}

.footer-social li {
  margin-right: 23px;
}

.footer-social li:last-child {
  margin-right: 0;
}

.inner-page .main-header {
  margin-bottom: 39px;
}

.inner-page .page-title {
  margin: 0;
  padding: 0;
  font-size: 47.5px;
  line-height: 47.5px;
  letter-spacing: 0.4px;
  color: #000000;
}

.breadcrumbs {
  margin: 23px 0 0 0;
  padding: 0;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.breadcrumbs li{
  position: relative;
  margin-right: 40px;
}

.breadcrumbs li::after{
  content: "";
  position: absolute;
  width: 4px;
  height: 7px;
  background-image: url("../img/nav-arrow.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
  top: 9px;
  right: -22px;
}

.breadcrumbs li:last-child{
  margin-right: 0;
}

.breadcrumbs li:last-child::after{
  display: none;
}

.filters {
  width: 201px;
}

.catalog {
  width: 760px;
}

.catalog-columns {
  display: flex;
  justify-content: space-between;
}

.catalog-item {
  width: 360px;
  margin-bottom: 49px;
  margin-right: 40px;
}

.catalog-item:nth-child(2n) {
  margin-right: 0;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.top-header-wrapper {
  display: flex;
  justify-content: space-between;
  width: 1040px;
}


.modal-feedback {
  margin: 0 auto;
  width: 960px;
  /* для теста */
  height: 553px;
  /* display: flex; */
  /* flex-direction: row; */
  background: rgba(34, 25, 100, 0.2);
  box-shadow: inset 0 0 0 2px rgb(34, 25, 100);
}


.feedback-top-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;


}

.feedback-form input {
  width: 360px;
}

/* .modal-feedback .feedback-form {
  display: flex;
  flex-direction: row;
} */


.feedback-middle-wrapper {
  display: flex;
  flex-direction: row;
  width: 200px;
}

/*
.feedback-bottom-wrapper {
  display: flex;
  flex-direction: column;
} */

.feedback-form {
  margin: 0 auto;
  width: 760px;
}

.catalog-container {
  width: 1100px;
  margin: 0 auto;
  padding: 0 20px 0 80px;
  /* background: rgba(34, 25, 100, 0.2);
  box-shadow: inset 0 0 0 2px rgb(34, 25, 100); */
}